[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
	branch = master
[submodule "deps/implot"]
	path = deps/implot
	url = git@github.com:epezent/implot.git
	branch = master
[submodule "deps/sdl"]
	path = deps/sdl
	url = git@github.com:libsdl-org/SDL.git
	branch = main
[submodule "deps/sdl_mixer"]
	path = deps/sdl_mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
	branch = main
[submodule "deps/sdl_image"]
	path = deps/sdl_image
	url = git@github.com:libsdl-org/SDL_image.git
	branch = main
[submodule "deps/sdl_ttf"]
	path = deps/sdl_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
	branch = main
[submodule "deps/nlohmann_json"]
	path = deps/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = develop
